@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
/* font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "flowbite/src/themes/default";
@import "tailwindcss";

.sans {
  font-family: "Montserrat", sans-serif;
}

@plugin "flowbite/plugin";

@source "../node_modules/flowbite";
